{% extends 'base.html' %}
{% block content %}
<div class="card">
  <h1>Import CSV</h1>
  <h3>Instructions</h3>
  <ol>
    <li>Ensure your CSV has a header row.</li>
    <li>Required columns: <code>instance_id</code>, <code>sepal_length</code>, <code>sepal_width</code>,
      <code>petal_length</code>, <code>petal_width</code>, <code>species</code>.</li>
    <li>Click "Choose File" to select your <code>.csv</code> file.</li>
    <li>Click "Import" to upload.</li>
  </ol>

  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>
    <input type="submit" value="Import" />
  </form>
</div>
{% endblock %}