{% extends 'base.html' %}
{% block content %}
  <h1>Iris Detail</h1>
  <table>
    <tr><td>Instance ID</td><td>{{ sample.instance_id }}</td></tr>
    <tr><td>Sepal Length</td><td>{{ sample.sepal_length }}</td></tr>
    <tr><td>Sepal Width</td><td>{{ sample.sepal_width }}</td></tr>
    <tr><td>Petal Length</td><td>{{ sample.petal_length }}</td></tr>
    <tr><td>Petal Width</td><td>{{ sample.petal_width }}</td></tr>
    <tr><td>Species</td><td>{{ sample.get_species_display }}</td></tr>
  </table>
  <p><a href="{% url 'gallery:iris_update' sample.pk %}">Edit</a> | <a href="{% url 'gallery:iris_list' %}">Back</a></p>
{% endblock %}
