{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
  <h1>Iris Detail</h1>
  <div style="display:flex; gap:20px;">
    <div>
      <img src="{% static 'placeholder_small.png' %}" alt="Flower Detail" class="img-responsive"
        style="max-width:150px;">
    </div>
    <div style="flex-grow:1;">
      <h3>Info</h3>
      <p><strong>Instance ID:</strong> {{ sample.instance_id }}</p>
      <p><strong>Species:</strong> {{ sample.get_species_display }}</p>

      <h3>Measurements</h3>
      <ul class="clean-list">
        <li>Sepal Length: {{ sample.sepal_length }} cm</li>
        <li>Sepal Width: {{ sample.sepal_width }} cm</li>
        <li>Petal Length: {{ sample.petal_length }} cm</li>
        <li>Petal Width: {{ sample.petal_width }} cm</li>
      </ul>
    </div>
  </div>

  <p style="margin-top:20px;">
    <a href="{% url 'gallery:iris_update' sample.pk %}">Edit</a> |
    <a href="{% url 'gallery:iris_list' %}">Back to List</a>
  </p>
</div>
{% endblock %}